<!DOCTYPE html>{% load dojotags %}
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" dir="ltr" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->
    <head>
        
        <meta charset="UTF-8" />
        <title>django-dojo Example</title>
        
        {% dojo_config "demo" %}
        
    </head>
    <body>
        
        <h1>django-dojo example</h1>
        
    </body>
</html>
